[
	{morse, [
		{config, [
			{addr, {0, 0, 0, 0}},
			{port, 12345},
			{cacertfile, "/etc/letsencrypt/live/MYSERVER/chain.pem"},
			{certfile, "/etc/letsencrypt/live/MYSERVER/cert.pem"},
			{keyfile, "/etc/letsencrypt/live/MYSERVER/privkey.pem"},
			{secret_prefix, "/q/w/e/r/t/y"} % could be empty string
		]}
	]}
].
